/* Stylesheet for homepage */

#homepage .banner {
    background: url("../images/banner/background.png") no-repeat scroll -1px 0 transparent;
    margin: 0;
    height: 500px;
    padding: 0;
    width: 100%;
}

#homepage .banner #backward,
#homepage .banner #forward {

    margin-top: 180px;
    cursor: pointer;
}

#homepage .banner #backward {
    margin-left: 30px;
}
#homepage .banner #forward {
    margin-right: 30px;
}

#homepage .banner img {
    vertical-align: middle;
}

#homepage .banner #slideshow {

}

#homepage .centered {
	text-align: center;
}

#homepage .progressdots{
    list-style-type: none;
    text-align: center;
    margin: 6px 0 0;
    padding: 0;
 }
 
#homepage .progressdots li {
	list-style-type: none;
	display: inline;
 }

#homepage .progressdots a {
	 text-decoration: none;
 }

.item-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.item-list ul li {
  list-style-type: none;
  background: url('../images/ubuntu-li.png') no-repeat left 4px;
  padding-left: 20px;
}

.datefield {
    color: #666666;
    padding-right: 4px;
}

.middleinfo {
    padding: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 6px;
}

.middleinfo-gray {
background: #EBEBEB;
border: 1px solid #F0F0F0;
min-height: 253px;
}

#banner_active {
  cursor: pointer;
}

#downloaddiv {
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2px;
  padding-left: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 5px;
  position: relative;

}

#downloaddiv #downloadbtn {
  position: absolute;
  right: 0px;
  /*background: url("/sites/default/files/features/matrix_download_29x29.png") no-repeat 2px top #FFFFFF;*/
  background: url("/sites/all/themes/light-drupal-theme/images/down_arrow.png") no-repeat 2px top #FFFFFF;
  margin-right: 3px;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 5px 2px;
  -webkit-border-radius: 5px 2px;
  -moz-box-shadow: 0 1px 1px #DFDFDF;
  -webkit-box-shadow: 0 1px 1px #DFDFDF;
  float: right;
  font-size: 12px;
  padding: 6px 8px;
  padding-left: 34px;
  position: absolute;
  right: 0;
  white-space: nowrap;
  color: #888888;
}

#downloaddiv #downloadbtn a.closedownloadtab, #downloaddiv #downloadbtn a.closedownloadtab:visited {
  color: #888888;
  font-weight: bold;
}

#downloaddiv #downloadbtn a.closedownloadtab:hover {
  color: #DD4814;
}

